.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/tmp/
test-results/
playwright-report/
blob-report/

.direnv/
.env

tsconfig.tsbuildinfo

## App

db.sqlite*

data/images/
data/images/cache/



